body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.about {
  margin-top: 40px;
}

.hero h2 {
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}

.hero p {
  font-size: 20px;
  margin-top: 20px;
  text-align: right;
}

.about h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
  text-align: right;
  margin-top: 20px;
}

.features h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}

.features ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.features li {
  margin-bottom: 10px;
  text-align: right;
}

.benefits h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}

.benefits ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.benefits li {
  margin-bottom: 10px;
  text-align: right;
}

.call-to-action h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}

.call-to-action a {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: right;
}

.video {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.video iframe {
  width: 100%;
  height: 500px;
}

.video:hover::after {
  opacity: 1;
}

.features {
  margin-top: 60px;
}

.benefits {
  margin-top: 60px;
}

.call-to-action {
  margin-top: 60px;
}

footer {
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .video {
    width: 100%;
    height: 225px;
  }

  .video iframe {
    width: 100%;
    height: 500px;
  }
  .features {
    margin-top: 20px;
  }

  .benefits {
    margin-top: 20px;
  }

  .call-to-action {
    margin-top: 20px;
  }
}
